################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/doc/html
/doc/autodoc.xml
/proj/vs
/Bin
